@import './Config.scss';
body{
    font-family: $lato;  
}
a{
    color: map-get($colors, abBlack);
    &:hover{
        text-decoration: none;
        color: map-get($colors, abBlack);
    }
}
ul{
    list-style: none;
    padding-left: 0px;
}

// breadcrumb 
.breadcrumb{
    background: none;
    padding-left: 0px;
    .slash{
        padding-left: 5px;
        padding-right: 5px;
    }
    svg{
        width: 16px;
        margin-top: -3px;
    }
    .active{
        color: rgba(0,0,0,0.5);
    }
}