.pdpCarousel{
    .carousel-indicators{
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0px;
        li{
            border:none;
            width: 100%;
            height: auto;
        }
    }
    .carousel-inner{
        .carousel-item{
            border: 1px solid #dddddd;
        }
    }
}

.product-layout-details{
    font-size: 30px;
    letter-spacing: 0.8px;
    .brand-line{
        border: 2px solid yellow;
        width: 50px;
        text-align: left;
    }
    .pdp-price{
        padding-top: 20px;
        font-size: 20px;
        svg{    
            width: 12px;
            margin-top: -4px;
        }
        .offer{
            padding-left: 10px !important;
            font-size: 16px;
            color: green;
        }
        .old-price{
            color: rgba(0,0,0,0.4);
            text-decoration: line-through;
            font-size: 18px;
        }
        .new-price{
            font-size: 24px;
        }
    }

    .pdp-variants{
        width: 100%;
        display: flex;
        margin-top: 20px;
        .variant-heading{
            width: 100px;
        }
        .variant{
            flex: 1;
            max-width: 80px;
            box-shadow: 1px 1px 1px #ddd;
            margin-right: 20px;
            border: 1px solid rgba(0, 0, 0, 0.05);
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}