@import './Config.scss';
.plp-options{
    border-bottom:1px solid #dddddd;
    padding-bottom: 10px;
    margin-bottom: 15px;
    .plp-product-title{
        letter-spacing: 0.8px;
        padding-top: 5px;
    }
    .filter-icon{
        cursor: pointer;
        align-items: center;
        svg{
            width: 20px;
            margin-right: 10px;
        }
    }
    .sortby{
        .dropdown{
            button{
                background: none;
                color: #000000;
                border: none;
                padding-right: 25px;
                &::after{
                    position: absolute;
                    margin-top: 10px;
                    margin-left: 0.6em;
                }
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
                &:active{
                    background: none;
                    border:none;
                }
            }
        }
    }
}

.plp-prod{
    .card{
        margin-bottom: 20px;
        border-radius: 0;
        transition: all 0.5s ease;
        min-height: 280px;
        .card-title{
            font-weight: 500;
            letter-spacing: 0.7px;
            font-size: 20px;
            text-overflow: ellipsis;
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
            .add-to-wishlist{
                text-align: right;
                max-width: 50px;
                display: none;
                transition: all 0.5s ease;
                svg{
                    width: 20px;
                    margin-top: -3px;
                }
            }
        }
        .card-subtitle{
            font-size: 25px;
            letter-spacing: 1px;
        }
        &:hover{
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.12);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.12);
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.12);
            .add-to-wishlist{
                display: block;
            }
        }
    }
    .prod-desc-list{
        padding-top: 15px;
        li{
            color: #646464;
            font-size: 14px;
            padding-bottom: 3px;
            display: flex;
            align-items: center;
            svg{
                width: 10px;
            }
        }
    }

    .prod-price-sec{
        padding-top: 15px;
        letter-spacing: 0.8px;
        .prod-price-current{
            font-size: 20px;
            font-weight: 500;
        }
        .price-old{
            color: #646464;
            svg{
                width: 8px;
                margin-top: 0px;
            }
        }
        .price-new{
            font-weight: 700;
        }
        .price-oldPrice{
            text-decoration: line-through;
            font-size: 14px;
        }
        .price-discount{
            padding-left: 10px !important;
            font-size: 14px;
            color: green;
        }
        svg{
            width: 12px;
            margin-top: -4px;
        }
    }
    .prod-price-emi{
        h6{
            padding-top: 10px;
            font-size: 14px;
        }
    }
    .prod-reviews{
        padding-top: 30px;
        letter-spacing: 1px;
        svg{width: 15px;}
    }
}
.prod-image{
    padding-left: 15px;
    .plp-prod-img{
        padding-top: 10px;
        // min-height: 253px;
    }
}
.sort{
    font-size: 14px;
    .sort-opt{
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover{
            font-weight: 700;
        }
    }
}

// checboxes
.checkboxes{
    padding-top: 5px;
    .filter-form{
        padding-left: 25px;
    }
    .fulter-label{
        padding-bottom: 20px;
    }
}
.checkboxLabel{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -25px;
    background: #ddd;
    cursor: pointer;
    .checked{
        margin-left: 4px;
        font-size: 12px;
        position: absolute;
        margin-top: 1px;
        visibility: hidden;
    }
}
.filters-checkbox{
    opacity: 0;
    cursor: pointer;
}
.filters-checkbox:checked + .checkboxLabel{
    .checked{
        visibility: visible;
    }
}
.slider{
    width: 100%;
    .range{
        height: 5px;
        background: map-get($colors, oBlack);
        -webkit-appearance: none;
        appearance: none;
        &:focus{
            outline: none;
        }
    }
    .range::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        background: #fff;
        border:4px solid map-get($colors,oBlack);
        border-radius: 50%;
        cursor: pointer;
      }
}

.sideNav{
    -webkit-transition: width 0.2s ease;
    -moz-transition: width 0.2s ease;
    -o-transition: width 0.2s ease;
    transition: width 0.2s ease;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;
    width: 0px;
    position: fixed;
    top: 0;
    min-height: 100%;
    background: #ffffff;
    z-index: 200;
    .backdrop{
        top: 0;
        left: 300px;
        width: calc(100% - 300px);
        height: 100%;
        position: fixed;
        background: rgba(0,0,0,0.3);
        z-index: 100;
        display: none;
        cursor: pointer;
    }
}
.sideNav.show{
    width: 300px;
}
.facets{
    padding-top: 20px;
    letter-spacing: 0.8px;
    .facets-cat{
        padding-top: 15px;
        h6{
            font-weight: bold;
        }
        .facets-list{
            .form-group{
                margin-bottom: 0px;
            }
            input[type="checkbox"]{
                margin-top: 7px;
            }
            .range{
                height: 5px;
                background: map-get($colors, abBlack);
                -webkit-appearance: none;
                appearance: none;
                &:focus{
                    outline: none;
                }
            }
            .range::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 20px;
                height: 20px;
                background: #fff;
                border:4px solid map-get($colors,abBlack);
                border-radius: 50%;
                cursor: pointer;
            }
            .colors-list{
                display: flex;
                flex-wrap: wrap;
                .colors-list-swatch{
                    display: inline-block;
                    margin-right: 5px;
                    .color-swatch{
                        width: 18px;
                        height: 18px;
                        position: absolute;
                        border-radius: 50%;
                        margin-top: 5px;
                    }
                    input{
                        margin-left: -18px;
                        margin-top: 6px;
                        cursor: pointer;
                        opacity: 0;
                    }
                }
            }
        }
    }
}